html{
    font-size: 62.5%;
}

.left--container{
    width: 30%;
    background-color: rgba(149, 189, 0, 0.2);
    height: inherit;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image--container{
    width: 15rem;
    height: 15rem;
    border-radius: 7.5rem;
}

.person--name{
    font-size: 2rem;
    color: #95bd00;
    text-align: center;
    margin-top: 1.5rem;
}

.details--section p{
    font-size: 1.5rem;
    font-weight: 500;
}

.details--section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details-section--container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.details-icon{
    color: #95bd00;
}