html{
    font-size: 62.5%;
}

.left--container{
    width: 30%;
    background-color: rgba(149, 189, 0, 0.2);
    max-height: inherit;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image--container{
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 7.5rem;
}

.person--name{
    font-size: 2rem;
    color: #95bd00;
    text-align: center;
    margin-top: 1.5rem;
}

.details--section p{
    font-size: 1.5rem;
    font-weight: 500;
}

.details--section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-section--container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    width: inherit;
}


.details-section--container p{
    word-wrap: break-word;
}

.details--text{
    width: 90%;
}

.details-icon{
    color: #95bd00;
    font-size: 1.5rem;
}

.skills-section{
    width: 100%;
    margin-top: 1.5rem;
}

.skills-section h1{
    color: #95bd00;
    border-bottom: 1px solid #95bd00;
    text-align: center;
}

.skill-component--container{
    display: flex;
    width: max-content;
    align-items: center;
    gap: 0.5rem;
}

.skill-tag{
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #95bd00;
    font-weight: 600;
    font-size: 1.2rem;
}

.skill-tag--container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

.level{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #95bd00;
    cursor: pointer;
}

.fill{
    background-color: #95bd00;
}

.level--container{
    display: flex;
    gap: 0.5rem;
}

.language--container{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: flex-end;
    margin-right: 2rem;
    align-items: center;
}

.language--container p{
    font-weight: 600;
    font-size: 1.5rem;
}