.right--container{
    padding: 2.5rem 2rem;
    width: 70%;
}

.right--container h1{
    color: #95bd00;
    font-size: 2.5rem;

}

.heading--container{
    width: 50%;
    border-bottom: 1px solid #95bd00;
}

.about--section p{
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.education--section{
    margin-top: 1.5rem;
}

.education--section hr{
    border: 0;
    border-bottom: 1.5px dotted rgba(149, 189, 0, 0.5);
}

.education--tag{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 1rem 1rem;
    font-weight: 500;
}

.education-tag--container{
    display: flex;
}

.cgpa-section{
    font-weight: 700;
    font-size: 1.5rem;
    color: #95bd00;
}

.college-section{
    font-weight: 700;
}

.description--section{
    font-weight: 400;
}

.project--link{
    font-weight: 500;
    color: #95bd00;
    margin-right: 10rem;
}